extends layout

block content
	.jumbotron
		.jumbotron-title
			h2 Let it be
	.container-fluid.hull-height
		.row.hull-height
			.col-md-4.zone.vice-wrapper
				.row.hull-height
					.col-md-5.zone.side-wrapper
						.logo-box
							a Xavier'Blog
							br
							p Minimalist
						hr
						.row.tag-header
							.col-md-6.tag-title
								span Tag
							.col-md-6.tag-back
								span(class='glyphicon glyphicon-chevron-left tag-back' aria-hidden='true')
						.row.tag-box
							span.tag NodeJs
							span.tag Express
							span.tag Bootstrap
							span.tag Vue
							span.tag MongoDB
						hr
						.row.date-header
							.col-md-6.date-title
								span Date
							.col-md-6.date-back
								span(class='glyphicon glyphicon-chevron-left tag-back' aria-hidden='true')
						.row.date-box
							span.date 2017
						hr
						.row.copyright-box
							p © Copyright 2017 - 2018 
							a(href='localhost:3000' title='Xavier') Xavier
					.col-md-7.zone.brief-wrapper
						.brief
							h4 Happy New Year
							p Hey! New Year's day 2018 is here! Put on your party hat and raise a toast to good times. Begin this New Year in a very special way with your friends, family and loved ones...
							i(class='glyphicon glyphicon-calendar' aria-hidden='true')
							span 2018-01-01 00:00:30
						.up-to-top(data-toggle='tooltip' data-placement='top' title='Up to top')
							.line
						.brief
							h4 Happy New Year
							p Hey! New Year's day 2018 is here! Put on your party hat and raise a toast to good times. Begin this New Year in a very special way with your friends, family and loved ones...
							i(class='glyphicon glyphicon-calendar' aria-hidden='true')
							span 2018-01-01 00:00:30
						.up-to-top(data-toggle='tooltip' data-placement='top' title='Up to top')
							.line
						.brief
							h4 Happy New Year
							p Hey! New Year's day 2018 is here! Put on your party hat and raise a toast to good times. Begin this New Year in a very special way with your friends, family and loved ones...
							i(class='glyphicon glyphicon-calendar' aria-hidden='true')
							span 2018-01-01 00:00:30
						.up-to-top(data-toggle='tooltip' data-placement='top' title='Up to top')
							.line
						.brief
							h4 Happy New Year
							p Hey! New Year's day 2018 is here! Put on your party hat and raise a toast to good times. Begin this New Year in a very special way with your friends, family and loved ones...
							i(class='glyphicon glyphicon-calendar' aria-hidden='true')
							span 2018-01-01 00:00:30
						.up-to-top(data-toggle='tooltip' data-placement='top' title='Up to top')
							.line
						.brief
							h4 Happy New Year
							p Hey! New Year's day 2018 is here! Put on your party hat and raise a toast to good times. Begin this New Year in a very special way with your friends, family and loved ones...
							i(class='glyphicon glyphicon-calendar' aria-hidden='true')
							span 2018-01-01 00:00:30
						.up-to-top(data-toggle='tooltip' data-placement='top' title='Up to top')
							.line
						.brief
							h4 Happy New Year
							p Hey! New Year's day 2018 is here! Put on your party hat and raise a toast to good times. Begin this New Year in a very special way with your friends, family and loved ones...
							i(class='glyphicon glyphicon-calendar' aria-hidden='true')
							span 2018-01-01 00:00:30
						.up-to-top(data-toggle='tooltip' data-placement='top' title='Up to top')
							.line
						.brief
							h4 Happy New Year
							p Hey! New Year's day 2018 is here! Put on your party hat and raise a toast to good times. Begin this New Year in a very special way with your friends, family and loved ones...
							i(class='glyphicon glyphicon-calendar' aria-hidden='true')
							span 2018-01-01 00:00:30
						.up-to-top(data-toggle='tooltip' data-placement='top' title='Up to top')
							.line
			.col-md-7.zone.content-wrapper
				h1 Happy New Year
				.row
					.col-md-6.content-header-box
						i(class='glyphicon glyphicon-calendar' aria-hidden='true')
						span 2018-01
						i(class='glyphicon glyphicon-tag' aria-hidden='true')
						span Life
						i(class='glyphicon glyphicon-tag' aria-hidden='true')
						span Histroy
					.col-md-6.content-header-date
						span 2018-01-01 00:00:30
				.content
					p Hey! New Year's day 2018 is here! Put on your party hat and raise a toast to good times. Begin this New Year in a very special way with your friends, family and loved ones. Send them our warm and wonderful Happy New Year ecards and make the year 2018 a me.
					p New Year’s is one of the oldest holidays still celebrated, but the exact date and nature of the festivities has changed over time. It originated thousands of years ago in ancient Babylon, celebrated as an eleven day festival on the first day of spring. During this time, many cultures used the sun and moon cycle to decide the “first” day of the year. It wasn’t until Julius Caesar implemented the Julian calendar that January 1st became the common day for the celebration. The content of the festivities has varied as well. While early celebrations were more paganistic in nature, celebrating Earth’s cycles, Christian tradition celebrates the Feast of the Circumcision of Christ on New Year’s Day. Roman Catholics also often celebrate Solemnity of Mary, Mother of God, a feast honoring Mary. However, in the twentieth century, the holiday grew into its own celebration and mostly separated from the common association with religion. It has become a holiday associated with nationality, relationships, and introspection rather than a religious celebration, although many people do still follow older traditions.
					p New Year’s is one of the oldest holidays still celebrated, but the exact date and nature of the festivities has changed over time. It originated thousands of years ago in ancient Babylon, celebrated as an eleven day festival on the first day of spring. During this time, many cultures used the sun and moon cycle to decide the “first” day of the year. It wasn’t until Julius Caesar implemented the Julian calendar that January 1st became the common day for the celebration. The content of the festivities has varied as well. While early celebrations were more paganistic in nature, celebrating Earth’s cycles, Christian tradition celebrates the Feast of the Circumcision of Christ on New Year’s Day. Roman Catholics also often celebrate Solemnity of Mary, Mother of God, a feast honoring Mary. However, in the twentieth century, the holiday grew into its own celebration and mostly separated from the common association with religion. It has become a holiday associated with nationality, relationships, and introspection rather than a religious celebration, although many people do still follow older traditions.
					p New Year’s is one of the oldest holidays still celebrated, but the exact date and nature of the festivities has changed over time. It originated thousands of years ago in ancient Babylon, celebrated as an eleven day festival on the first day of spring. During this time, many cultures used the sun and moon cycle to decide the “first” day of the year. It wasn’t until Julius Caesar implemented the Julian calendar that January 1st became the common day for the celebration. The content of the festivities has varied as well. While early celebrations were more paganistic in nature, celebrating Earth’s cycles, Christian tradition celebrates the Feast of the Circumcision of Christ on New Year’s Day. Roman Catholics also often celebrate Solemnity of Mary, Mother of God, a feast honoring Mary. However, in the twentieth century, the holiday grew into its own celebration and mostly separated from the common association with religion. It has become a holiday associated with nationality, relationships, and introspection rather than a religious celebration, although many people do still follow older traditions.
					p New Year’s is one of the oldest holidays still celebrated, but the exact date and nature of the festivities has changed over time. It originated thousands of years ago in ancient Babylon, celebrated as an eleven day festival on the first day of spring. During this time, many cultures used the sun and moon cycle to decide the “first” day of the year. It wasn’t until Julius Caesar implemented the Julian calendar that January 1st became the common day for the celebration. The content of the festivities has varied as well. While early celebrations were more paganistic in nature, celebrating Earth’s cycles, Christian tradition celebrates the Feast of the Circumcision of Christ on New Year’s Day. Roman Catholics also often celebrate Solemnity of Mary, Mother of God, a feast honoring Mary. However, in the twentieth century, the holiday grew into its own celebration and mostly separated from the common association with religion. It has become a holiday associated with nationality, relationships, and introspection rather than a religious celebration, although many people do still follow older traditions.
					p New Year’s is one of the oldest holidays still celebrated, but the exact date and nature of the festivities has changed over time. It originated thousands of years ago in ancient Babylon, celebrated as an eleven day festival on the first day of spring. During this time, many cultures used the sun and moon cycle to decide the “first” day of the year. It wasn’t until Julius Caesar implemented the Julian calendar that January 1st became the common day for the celebration. The content of the festivities has varied as well. While early celebrations were more paganistic in nature, celebrating Earth’s cycles, Christian tradition celebrates the Feast of the Circumcision of Christ on New Year’s Day. Roman Catholics also often celebrate Solemnity of Mary, Mother of God, a feast honoring Mary. However, in the twentieth century, the holiday grew into its own celebration and mostly separated from the common association with religion. It has become a holiday associated with nationality, relationships, and introspection rather than a religious celebration, although many people do still follow older traditions.
			.col-md-1.zone.helper-wrapper
				#up-to-top
					i(class='glyphicon glyphicon-arrow-up' aria-hidden='true')
					span Up to top
	script(type='text/javascript').
		$('#up-to-top').click(function() {
			$('.content-wrapper').animate({scrollTop:0}, 500);
		});

		$('.up-to-top').click(function() {
			$('.brief-wrapper').animate({scrollTop:0}, 500);
		})

		$('.jumbotron-title h2').click(function() {
			$('.jumbotron').hide();
			$('.container-fluid').show();
		})