extends layout

block content
	.container-fluid
		.row
			.col-md-4.zone.vice-wrapper
				.row
					.col-md-4.zone.side-wrapper
						.logo-box
							a Xavier'Blog
							br
							p independent
						hr
						.tag-box
							span tags
							span(aria-hidden='true').glyphicon.glyphicon-chevron-left.tag-back
							.tag-list
								span 123

					.col-md-8.zone.brief-wrapper
						p brief
			.col-md-7.zone.content-wrapper
				p content
			.col-md-1.zone.helper-wrapper
				p helper