extends layout

block content
	.container-fluid
		.row
			.col-md-4.zone.vice-wrapper
				.row
					.col-md-4.zone.side-wrapper
						.logo-box
							h3 Xavier'Blog
							span independent
					.col-md-8.zone.brief-wrapper
						p brief
			.col-md-7.zone.content-wrapper
				p content
			.col-md-1.zone.helper-wrapper
				p helper