doctype html
html
	head
		title= title
		link(rel='stylesheet', type='text/css' href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', type='text/css' href='/stylesheets/bootstrap-theme.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript' src='/javascripts/vue.js')
		script(type='text/javascript' src='/javascripts/jquery.js')
		script(type='text/javascript' src='/javascripts/bootstrap.js')
	body
		block content
	script(type='text/javascript').
		console.log("Welcome to Xavier's Blog.");