::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.zone {
	border-right: 1px solid #eee;
}

.brief-wrapper {
	height: 742px;
    overflow: scroll;
    overflow-x: hidden;
}

.content-wrapper {
	height: 742px;
    overflow: scroll;
    overflow-x: hidden;
}

.logo-box {
	margin: 50px 0;
	text-align: center;
}

.logo-box a {
    color: #000!important;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;	
}

.logo-box p {
	margin: 10px 0;
}

.tag-header {
	margin-top: 30px;
	font-size: 16px;
	font-weight: 700;
}

.tag-title {
	padding: 0px 20px;
	text-align: left;
}

.tag-back {
	text-align: right;
	cursor: pointer;
}

.tag-box {
	margin: 10px 0;
}

.tag {
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 0 5px;
    border: 1px solid #eee;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.copyright-box {
	margin: 10px 20px;
}

.copyright-box p {
	text-align: center;
	font-size: 12px;
}

.copyright-box a {
	text-align: center;
	text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

.brief {
	height: 150px;
}

.brief h4 {
	margin-top: 20px;
	text-decoration: underline;
}

.brief p {
	margin: 15px 0;
	font-size: 14px;
}

.brief i {
	margin-right: 5px;
}

.content-wrapper h1 {
	margin: 20px 0 20px 0;
}

.content-header-box {
	margin: 0 0 20px 0;
}

.content-header-box i {
	margin-right: 5px;
}

.content-header-box span {
	margin-right: 20px;
}

.content {
	text-indent: 2em;
}